<div class="alterar-informacoes-container">
  <div class="navbar">
    <div class="navbar-links">
      <a routerLink="/dashboard">Meus Dados</a>
      <a routerLink="/pedidos">Meus Pedidos</a>
      <a routerLink="/alterar-info">Alterar Informações</a>
      <a routerLink="/seguranca">Segurança</a>
    </div>
  </div>

  <h1>Alterar Informações</h1>
  <form (ngSubmit)="abrirModalConfirmacao()" [formGroup]="formAlterarInformacoes">
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" id="nome" formControlName="nome">
    </div>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email">
    </div>
    <div class="form-group">
      <label for="cpf">CPF:</label>
      <input type="text" id="cpf" formControlName="cpf">
    </div>
    <button type="submit">Salvar Alterações</button>
  </form>

  <app-confirmar-senha *ngIf="modalAberto" (fechar)="fecharModal()" (confirmar)="salvarAlteracoes()"></app-confirmar-senha>
</div>
