<mat-toolbar color="primary" class="toolbar-title">Cadastro de Pets</mat-toolbar>
<div class="form-container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formGroup">
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>nome</mat-label>
                    <input matInput type="text" formControlName="nome">
                    <mat-error *ngIf="formGroup.get('nome') 
                                   && formGroup.get('nome')?.invalid
                                   && formGroup.get('nome')?.touched">
                        O nome é obrigatório.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Tipo de Animal</mat-label>
                    <mat-select formControlName="animal" id="animal_id">
                        <mat-option *ngFor="let tipoAnimal of tiposAnimais" [value]="tipoAnimal">
                            {{ tipoAnimal.nome }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('animal') 
                                   && formGroup.get('animal')?.invalid
                                   && formGroup.get('animal')?.touched">
                        O tipo de animal é obrigatório.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Usuario</mat-label>
                    <mat-select formControlName="usuario" id="usuario">
                        <mat-option *ngFor="let usuario of usuarios" [value]="usuario">
                            {{ usuario.nome }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('usuario') 
                                   && formGroup.get('usuario')?.invalid
                                   && formGroup.get('usuario')?.touched">
                        O usuario é obrigatório.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Idade</mat-label>
                        <input matInput type="number" formControlName="anoNascimento">
                        <mat-error *ngIf="formGroup.get('nome') 
                                   && formGroup.get('anoNascimento')?.invalid
                                   && formGroup.get('anoNascimento')?.touched">
                        O ano de Nascimento é obrigatório.
                        </mat-error>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button 
                    color="primary" 
                    (click)="salvar()"
                    [disabled]="formGroup.invalid"> 
                Salvar 
            </button>
            <button mat-raised-button 
                    *ngIf="formGroup?.get('id')?.value"
                    color="warn" 
                    (click)="excluir()"
                    [disabled]="formGroup.invalid"> 
                Excluir 
            </button>
            <button mat-raised-button  
                    routerLink="/racoes"> 
                Cancelar 
            </button>
        </mat-card-actions>
    </mat-card>
</div>
