.toolbar-title {
  flex: 1;
  text-align: center;
}

.flex-container {
  display: flex;
  align-items: center;
  width: 60%;
}

.mat-column-id {
  width: 5em;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}
.mat-column-nome {
  width: 40%;
}
.mat-column-sigla {
  text-align: center;
  min-width: 5em;
}
.mat-column-acao {
  text-align: center;
  min-width: 10em;
}
