.mat-toolbar {
  margin-bottom: 15px; /* Espaçamento consistente com outros elementos */
}

table {
  width: 100%;
}

.mat-cell,
.mat-header-cell {
  padding: 10px;
  text-align: left;
}

.mat-header-row {
  background-color: #f0f0f0;
}

.mat-row {
  transition: background-color 0.3s;
}

.mat-row:hover {
  background-color: #f9f9f9;
}

button.mat-icon-button {
  margin-right: 5px;
}
