.compra-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.compra-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: 800px;
}

.compra-header #status {
  margin: 5px 0;
  font-size: 18px; /* Tamanho da fonte maior */
  font-weight: bold; /* Texto em negrito */
}

.compra-header {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.compra-details {
  background-color: #fff;
  padding: 10px;
}

.compra-footer {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 0 0 5px 5px;
}

.compra-details.expandido {
  max-height: none; /* Remove a altura máxima para mostrar todos os itens */
  overflow: visible; /* Permite que os itens sejam mostrados além dos limites do contêiner */
}

.compra-details.recolhido {
  max-height: 0; /* Oculta os itens recolhidos definindo a altura máxima como zero */
  overflow: hidden; /* Esconde qualquer conteúdo além dos limites do contêiner */
}

.compra-details button {
  margin-bottom: 10px; /* Espaço entre o botão e a lista de itens */
  display: block; /* Garante que o botão ocupe toda a largura do contêiner */
  width: calc(100% - 40px); /* Largura total menos a largura dos espaçamentos (20px de cada lado) */
  max-width: calc(100% - 40px); /* Largura máxima para evitar esticar além do contêiner */
  background-color: #007bff; /* Cor de fundo azul */
  color: #fff; /* Cor do texto branco */
  border: none; /* Remove a borda */
  border-radius: 20px; /* Borda arredondada */
  padding: 10px; /* Preenchimento interno */
  cursor: pointer; /* Mostra o cursor como ponteiro ao passar sobre o botão */
  transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
}

.compra-details button:hover {
  background-color: #0056b3; /* Cor de fundo azul mais escura ao passar o mouse */
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #007BFF;
  padding: 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0 15px;
}

.navbar a:hover {
  text-decoration: underline;
}

.no-compras {
  font-size: 20px; /* Aumenta o tamanho da fonte */
  color: #ff0000; /* Muda a cor do texto para vermelho */
  text-align: center; /* Centraliza o texto */
  margin-top: 50px; /* Adiciona espaço acima do texto */
}
