<!-- meus-pedidos.component.html -->

<div *ngIf="compras.length > 0; else noCompras">
    <h2>Minhas Compras</h2>
    <div *ngFor="let compra of compras" class="compra-card">
        <p>Data da Compra: {{ compra.dataCompra }}</p>
      <p>Preço Total: R$ {{ compra.precoTotal }}</p>
      <ul>
        <li *ngFor="let item of compra.itens">
          {{ item.nome }} - {{ item.preco }} - Quantidade: {{ item.quantidade }}
        </li>
      </ul>
    </div>
  </div>
  
  <ng-template #noCompras>
    <p>Nenhuma compra encontrada.</p>
  </ng-template>
  