<div class="navbar">
  <a routerLink="/dashboard">Meus Dados</a>
  <a routerLink="/pedidos">Meus Pedidos</a>
  <a routerLink="/meus-pets">Meus Pets</a>
  <a routerLink="/alterar-info">Alterar Informações</a>
  <a routerLink="/seguranca">Segurança</a>
</div>

<div *ngIf="compras.length > 0; else noCompras" class="compra-container">
  <h2>Minhas Compras</h2>
  <div *ngFor="let compra of compras" class="compra-card">
      <div class="compra-header">
        <p id="status">Status: {{ getStatusLabel(compra.statusCompra) }}</p>
        <p>Data da Compra: {{ compra.dataCompra | date:'dd/MM/yyyy' }}</p>
        <p>Preço Total: R$ {{ compra.precoTotal | number:'1.2-2' }}</p>
      </div>
      <div class="compra-details">
        <button (click)="toggleItens(compra)">Expandir/Recolher</button>
        <ul class="compra-item-list" *ngIf="compra.itens && itensExpandidos[compra.id]">
          <h3>Itens da Compra:</h3>
            <li *ngFor="let item of compra.itens" class="compra-item">
                <p>Produto: {{ item.nome }}</p>
                <p>Preço: R$ {{ item.precoUnitario | number:'1.2-2' }}</p>
                <p>Quantidade: {{ item.quantidade }}</p>
            </li>
        </ul>
      </div>
      <div class="compra-footer">
        <!-- Adicione qualquer conteúdo adicional para o rodapé aqui -->
      </div>
  </div>
</div>

<ng-template #noCompras>
  <p>Nenhuma compra encontrada.</p>
</ng-template>
