/* Estiliza o carrossel */
.carousel {
  margin-bottom: 2rem;
}



.carousel .carousel-inner img {
  width: 100%;
  height: auto; /* Permite que a altura se ajuste proporcionalmente */
  max-height: 600px; /* Define um limite máximo de altura */
  object-fit: contain; /* Ajusta a imagem para caber no contêiner sem cortá-la */
}

.main-content {
  margin-bottom: 30px; /* Ajuste conforme necessário para a altura do footer */
}
/* ------------footer----------- */
.custom-footer {
  background-color: #3f51b5; 
  color: white; 
  text-align: center; 
  padding: 1em 0; 
  bottom: 0; 
  left: 0;
  position: relative;
  width: 100%; 
  z-index: 999; 
  margin-top: 20px; }

/* ------------footer----------- */



.text
{
  display: flex;
  justify-content: center;
  text-transform: uppercase; 
  margin-top: 30px;
  font-size: 30px;
}

/* Botões de filtro */
.btn-group {
  margin-top: 20px; /* Espaçamento superior */
  display: flex;
  justify-content: center;
}

.btn-group .btn {
  margin: 5px; /* Espaçamento entre os botões */
}



.btn-group img {
  width: 200px; /* Defina a largura desejada */
  height: 200px; /* Defina a altura desejada */
}
