<div class="container responsive-grid">
    <mat-card *ngFor="let card of cards()" class="mat-card-hover" (click)="navegarParaProduto(card.idConsulta)">
      <img mat-card-image [src]="card.imagem ? card.imagem : 'assets/imageNotfound.jpg'" (error)="card.imagem = 'assets/imageNotfound.jpg'" class="card-image">
      <div class="card-content">
        <mat-card-title class="centered-text">{{ card.nome }}</mat-card-title>
        <mat-card-content class="preco">{{ card.preco | currency:'BRL':'symbol':'1.2-2' }}</mat-card-content>
      </div>
      <mat-card-footer class="add-to-cart-footer" (click)="$event.stopPropagation()">
        <button mat-flat-button color="accent" (click)="adicionarAoCarrinho(card)" class="add-to-cart-button">Adicionar ao carrinho</button>
      </mat-card-footer>
    </mat-card>
  </div>
  