<mat-toolbar color="primary" class="toolbar-title">Login</mat-toolbar>
<div class="form-container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formGroup">
                
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>email</mat-label>
                    <input matInput type="text" formControlName="email">
                    <mat-error *ngIf="formGroup.get('email') 
                                   && formGroup.get('email')?.invalid
                                   && formGroup.get('email')?.touched">
                        O email é obrigatório.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>senha</mat-label>
                    <input matInput type="text" formControlName="senha">
                    <mat-error *ngIf="formGroup.get('senha') 
                                   && formGroup.get('senha')?.invalid
                                   && formGroup.get('senha')?.touched">
                        A senha é obrigatório.
                    </mat-error>
                </mat-form-field>

            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button 
                    color="primary" 
                    (click)="login()"
                    [disabled]="formGroup.invalid"> 
                Logar 
            </button>
            <button mat-raised-button  
                    routerLink="/usuarios/all"> 
                Cancelar 
            </button>
        </mat-card-actions>
    </mat-card>
</div>
