.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #6E45E2, #FF6636);
  }
  
  .login-box {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .login-icon {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    display: block;
  }


  
  .login-title {
    font-size: 24px;
    margin: 10px 0;
    color: #333;
  }
  
  .login-input {
    width: 100%;
    margin: 10px 0;
  }
  
  .login-button {
    width: 100%;
    margin-top: 20px;
    background: #FF6636;
    color: #fff;
    transition: background 0.3s;
  }
  
  .login-button:hover {
    background: #FF5722;
  }
  
  