<!-- carrinho.component.html -->
<ng-container *ngIf="carrinhoItens.length > 0; else carrinhoVazio">
    <div *ngFor="let item of carrinhoItens" class="carrinho-item">
      <h3>{{ item.nome }}</h3>
      <p>Preço: {{ item.preco }}</p>
      <p>Quantidade: {{ item.quantidade }}</p>
      <p>Total: {{ item.quantidade * item.preco }}</p>
      <button mat-raised-button color="warn" (click)="removerItem(item)">Remover do Carrinho</button>
    </div>
    <p>Total do Carrinho: {{ calcularTotal() }}</p>
    <button mat-raised-button color="primary" (click)="finalizarCompra()" >Finalizar Compra</button>
  </ng-container>
  <ng-template #carrinhoVazio>
    <p>O carrinho está vazio.</p>
  </ng-template>