<mat-toolbar color="primary">
    <!-- Botão de menu -->
    <button (click)="clickMenu()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    
    <!-- Nome do aplicativo -->
    <span>
        <a routerLink="/" style="text-decoration: none; color: inherit;"><img src="assets/pet-shop-logo.png"></a>
    </span>

    <span class="example-spacer"></span>
    
    <!-- Botão do carrinho de compras -->
    <button routerLink="/carrinho" mat-icon-button class="demo-section example-icon favorite-icon" aria-label="Example icon-button with shopping cart icon">
        <mat-icon [matBadge]="qtdItensCarrinho" matBadgeColor="warn" matBadgePosition="after" matBadgeOverlap="false">shopping_cart</mat-icon>
    </button>

    <!-- Área de login -->
    <div class="login-container" (mouseenter)="showLoginOptions = true" (mouseleave)="showLoginOptions = false">
        <!-- Verificação de login e exibição condicional -->
        <ng-container *ngIf="usuarioLogado; else loginButton">
            <!-- Nome do usuário logado -->
            <span>{{usuarioLogado.nome}}</span>
            
            <!-- Barra com a opção de deslogar (exibida no hover) -->
            <div *ngIf="showLoginOptions" class="login-options">

                <button mat-button (click)="dashboard()">
                    <mat-icon>dashboard</mat-icon>
                    Meus Dados
                </button>

                <button mat-button routerLink="" (click)="deslogar()">
                    <mat-icon>exit_to_app</mat-icon>
                    Sair
                </button>
            </div>
        </ng-container>

        <!-- Botão de logar (exibido quando o usuário não está logado) -->
        <ng-template #loginButton>
            <button mat-button routerLink="/login">
                Entrar
            </button>
        </ng-template>
    </div>
</mat-toolbar>
