



/* Adiciona margem ao conteúdo principal para evitar que fique obscurecido pelo cabeçalho */
.main-content {
    margin-top: 80px; /* Ajuste conforme necessário para a altura do cabeçalho */
}


.example-spacer {
    flex: 1 1 auto;
}

.demo-section + .demo-section {
    margin-top: 16px;
}

.login-container {
    position: relative;
}

.login-options {
    position: absolute;
    top: 100%;
    left: 0;
    background: rgb(84, 108, 143);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 8px;
    display: flex;
    align-items: center;
    flex-direction: column; /* Alterado para organizar verticalmente */
    align-items: flex-start; /* Alinha os itens à esquerda */
    width: 150px; /* Largura desejada */
    height: auto; /* Altura desejada */
    z-index: 999;
}

a img {
    height: 50px;
    filter: brightness(800%);
    margin: 10px;
}

.login-options button {
    display: flex;
    align-items: center;
}

.login-options mat-icon {
    margin-right: 5px;
}


/* Adiciona padding ao conteúdo da toolbar */
mat-toolbar {
    
    padding-left: 100px;
    padding-right: 100px;
    top: 0;
    z-index: 9999;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 15px; /* Bordas arredondadas */
    padding: 3px 8px; /* Espaçamento interno */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra leve */
}

.search-container input {
    border: none;
    outline: none;
    flex: 1;
    padding: 5px;
    border-radius: 10px; /* Bordas arredondadas */
    font-size: 14px; /* Tamanho da fonte */
}

.search-container button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.search-container button mat-icon {
    color: #3f51b5; /* Cor do ícone */
}

.search-container input::placeholder {
    color: #a0a0a0; /* Cor do placeholder */
    font-size: 14px;
}
