<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Patua+One&display=swap">
</head>

<header>
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-3 col-3">
              <div class="logo-container">
                  <img src="assets/pet-shop-logo.png" alt="" class="logo">
              </div>
          </div>
          <div class="col-md-9 col-sm-9 col-9 text-end">
              <div class="menu-icon" (click)="openMenu()">
                  <i class="{{menu_icon}}"></i>
              </div>
              <div class="desktop_menu" [class.mobile_menu]="menuValue" >
                  <ul>
                      <li  (click)="closeMenu()" ><a routerLink="/estado/all">Estados</a></li>
                      <li (click)="closeMenu()" ><a routerLink="/municipios">Municípios</a></li>
                      <li (click)="closeMenu()" ><a routerLink="/racoes/all">Rações</a></li>
                      <li (click)="closeMenu()" ><a routerLink="/consultas/all">Consultas</a></li>
                      <li (click)="closeMenu()" ><a routerLink="/pets/all">Pets</a></li>
                      <li (click)="closeMenu()" ><a routerLink="/tipos/all">Tipos de Animais</a></li>
                      <li (click)="closeMenu()" ><a routerLink="/usuarios/all">Usuários</a></li>
                    </ul>
              </div>
          </div>
      </div>
  </div>
</header>