<header class="header">
    <div class="logo">
      <h1>Pet Shop</h1>
    </div>
    <nav class="navigation">
      <ul>
        <li><a routerLink="/estados/all">Estados</a></li>
        <li><a routerLink="/municipios">Municípios</a></li>
        <li><a routerLink="/racoes/all">Rações</a></li>
        <li><a routerLink="/consultas">Consultas</a></li>
        <li><a routerLink="/pets/all">Pets</a></li>
        <li><a routerLink="/tipos">Tipos de Animais</a></li>
        <li><a routerLink="/usuarios/all">Usuários</a></li>
      </ul>
    </nav>  
    <h2>{{ title }}</h2>
  </header>
  