.toolbar-title {
    flex: 1;
    text-align: center;
    font-size: small;
}

mat-toolbar {
  background-color: #3f51b5; /* Cor de fundo do toolbar */
  color: white; /* Cor do texto */
  text-align: center; /* Centralizar o texto */
  padding: 1em 0; /* Espaçamento interno */
  bottom: 0; /* Posicionar no fundo da página */
  left: 0; /* Alinhar à esquerda */
  position: relative;
  width: 100%; /* Ocupar toda a largura da página */
  z-index: 999; /* Z-index para garantir que fique acima de outros elementos */
  margin-top: 20px; /* Adicionar margem superior para evitar que encoste em outros elementos */

}

  
  .toolbar-title {
    font-size: 14px; 
  }
  