<mat-toolbar color="primary" class="toolbar-title">Cadastro de ração</mat-toolbar>
<div class="form-container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formGroup">

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Nome</mat-label>
                    <input matInput type="text" formControlName="nome">
                    <mat-error *ngIf="formGroup.get('nome')?.invalid && formGroup.get('nome')?.touched"> <!-- adicionado no ultimo commit -->                        O sabor é obrigatório.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Sabor</mat-label>
                    <input matInput type="text" formControlName="sabor">
                    <mat-error *ngIf="formGroup.get('sabor')?.invalid && formGroup.get('sabor')?.touched"> <!-- adicionado no ultimo commit -->                        O sabor é obrigatório.
                    </mat-error>
                </mat-form-field>

                

                <mat-form-field appearance="fill">
                    <mat-label>Tipo de Animal</mat-label>
                    <mat-select formControlName="animal" id="animal_id">
                        <mat-option *ngFor="let tipoAnimal of animais" [value]="tipoAnimal.id">
                            {{ tipoAnimal.nome }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('animal')?.invalid && formGroup.get('animal')?.touched"> <!-- adicionado no ultimo commit -->
                        O tipo de animal é obrigatório.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Marcas</mat-label>
                    <mat-select formControlName="marca" id="marca_id">
                        <mat-option *ngFor="let marca of marcas" [value]="marca.id">
                            {{ marca.nome }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('marca')?.invalid && formGroup.get('marca')?.touched">  <!-- adicionado no ultimo commit -->
                        A marca é obrigatória.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Peso</mat-label>
                    <mat-select formControlName="peso" id="peso_id">
                        <mat-option *ngFor="let peso of pesos" [value]="peso">
                            {{ peso }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('peso')?.invalid && formGroup.get('peso')?.touched"> <!--  adicionado no ultimo commit -->
                        O peso é obrigatório.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Idade</mat-label>
                    <mat-select formControlName="idade" id="idade_id">
                        <mat-option *ngFor="let idade of idades" [value]="idade">
                            {{ idade }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('idade')?.invalid && formGroup.get('idade')?.touched">
                        A idade é obrigatória.
                    </mat-error>
                </mat-form-field>

                  <!-- Campo para Preço -->
                  <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Preço</mat-label>
                    <input matInput type="number" formControlName="preco">
                    <mat-error *ngIf="formGroup.get('preco')?.invalid && formGroup.get('preco')?.touched">
                        O preço é obrigatório.
                    </mat-error>
                </mat-form-field>


                <!-- Estoque -->
                <mat-form-field appearance="fill">
                    <mat-label>Estoque</mat-label>
                    <input matInput formControlName="estoque" type="number">
                    <mat-error *ngIf="formGroup.get('estoque')?.invalid && formGroup.get('estoque')?.touched">
                    O estoque é obrigatório.
                    </mat-error>
                </mat-form-field>
            </form>
           <!--  adicionado no ultimo commit      -->
           <!-- Adicionando seção para upload e download -->
    <div class="file-actions" *ngIf="formGroup.get('id')?.value">
    <!-- Botão para abrir seletor de arquivos para upload -->
    <button mat-raised-button 
            color="accent" 
            (click)="openFileInput()">
        Enviar Imagem
    </button>
    
    <!-- Input de arquivo oculto -->
    <input type="file" #fileInput hidden (change)="fileInput.files && fileInput.files.length > 0 ? uploadImage(fileInput.files[0]) : null" accept="image/*" />

    <!-- Div para baixar imagem -->
<div class="button" data-tooltip="Size: 20Mb" (click)="downloadImage()">
    <div class="button-wrapper">
      <div class="text">Baixar imgem</div>
      <span class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="2em" height="2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15V3m0 12l-4-4m4 4l4-4M2 17l.621 2.485A2 2 0 0 0 4.561 21h14.878a2 2 0 0 0 1.94-1.515L22 17"></path></svg>
      </span>
    </div>
  </div>
  
    </div>

        </mat-card-content>
      <!--  adicionado no ultimo commit      -->
        <mat-card-actions>
            <button mat-raised-button 
                    color="primary" 
                    (click)="salvar()"
                    [disabled]="formGroup.invalid"> 
                Salvar 
            </button>
                  <!--  adicionado no ultimo commit      -->
                  <!-- *ngIf="formGroup?.get('id')?.value" -->
            <button mat-raised-button 
                    *ngIf="formGroup.get('id')?.value"  
                    color="warn" 
                    (click)="excluir()"
                    [disabled]="formGroup.invalid" 
                    (click)="voltarPagina()">  
                Excluir 
            </button>
            <button mat-raised-button  
                    (click)="voltarPagina()"> 
                Cancelar 
            </button>
        </mat-card-actions>
    </mat-card>
</div>
