.confirmar-compra-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.confirmar-compra-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.confirmar-compra-container h2 {
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.item {
    margin-bottom: 20px; /* Aumente o espaçamento entre os itens */
    border: 1px solid #ccc; /* Adicione uma borda para destacar os itens */
    border-radius: 5px; /* Arredonde as bordas dos itens */
    padding: 15px; /* Adicione um preenchimento interno */
}

.item-details p {
    margin: 5px 0; /* Ajuste o espaçamento entre os detalhes do item */
}

/* Estilos para o select de endereço e cartão */
.endereco select,
.cartao select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
}

/* Estilos para o botão de confirmar compra */
.confirmar-compra-container button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30px; /* Adicione um espaçamento acima do botão */
    margin-bottom: 15px; /* Adicione um espaçamento abaixo do botão */
}

.confirmar-compra-container button:hover {
    background-color: #0056b3;
}

/* Estilos para os botões adicionar endereço e adicionar cartão */
.adicionar-btn {
    background-color: #d3d3d3; /* Cinza claro */
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 12px; /* Tamanho menor */
    padding: 5px 10px; /* Padding reduzido */
    margin-left: 10px; /* Espaçamento à esquerda para posicionar mais à direita */
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-block;
    text-align: right;
}
.endereco,
.cartao {
    text-align: right;
}

.adicionar-btn:hover {
    background-color: #b0b0b0; /* Cinza mais escuro ao passar o mouse */
}
