<mat-drawer-container class="container">

    <mat-drawer #drawer  mode="side" opened>
        <mat-toolbar>
            <span>Menu</span>
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item>Home</mat-list-item>
            <mat-list-item routerLink="/admin/estados">Controle de Estado</mat-list-item>
            <mat-list-item routerLink="/admin/municipios/all">Controle de Municípios</mat-list-item>
            <mat-list-item routerLink="/admin/racoes/all">Controle de Raçoes</mat-list-item>
            <mat-list-item routerLink="/admin/pets/all">Controle de Pets</mat-list-item>
            <mat-list-item routerLink="/admin/consultas">Controle de Consultas</mat-list-item>
            <mat-list-item routerLink="/admin/tipos/all">Controle de Tipos</mat-list-item>
            <mat-list-item routerLink="/admin/marcas/all">Controle de Marcas</mat-list-item>
            <mat-list-item routerLink="/admin/usuarios/all">Controle de Usuarios</mat-list-item>
        </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>