img {
    width: 100%;
    height: 240px;
    object-fit: cover;
}

.container {
    padding: 20px;
}

.responsive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.centered-text {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
