<div class="container responsive-grid">
    <mat-card *ngFor="let card of cards()">

        <img mat-card-image [src]="card.imagem ? card.imagem : 'assets/imageNotfound.jpg' " (error)="card.imagem = 'assets/imageNotfound.jpg' ">

        <mat-card-title class="centered-text"> {{card.sabor}} </mat-card-title>
        
        <!-- <mat-card-content class="centered-text"> {{card.modalidade}} </mat-card-content> -->
        <br/>
        <mat-card-content class="centered-text"> {{card.preco}} </mat-card-content>

        <mat-card-actions class="centered-text">
            <button mat-button color="primary">Ver mais ...</button>
        </mat-card-actions>

        <mat-card-footer>
            <button mat-flat-button color="accent"
                (click)="adicionarAoCarrinho(card)"
                style="width: 100%; padding: 16px;">Adicionar ao carrinho</button>
        </mat-card-footer>
    </mat-card>
</div>