<mat-toolbar color="primary" class="toolbar-title">Consulta</mat-toolbar>
<div class="form-container">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="formGroup">
                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Data</mat-label>
                    <input matInput type="date" formControlName="data">
                    <mat-error *ngIf="formGroup.get('data') 
                                   && formGroup.get('data')?.invalid
                                   && formGroup.get('data')?.touched">
                        A data é obrigatória.
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Motivo</mat-label>
                    <input matInput type="text" formControlName="motivo">
                    <mat-error *ngIf="formGroup.get('motivo') 
                                   && formGroup.get('motivo')?.invalid
                                   && formGroup.get('motivo')?.touched">
                        O motivo é obrigatório.
                    </mat-error>
                </mat-form-field>


                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Veterinário</mat-label>
                    <mat-select formControlName="veterinario">
                      <mat-option *ngFor="let veterinario of veterinarios" [value]="veterinario">
                        {{ veterinario.nome }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formGroup.get('veterinario')?.invalid && formGroup.get('veterinario')?.touched">
                      O veterinário é obrigatório.
                    </mat-error>
                  </mat-form-field>
                  
                

                <mat-form-field appearance="fill" class="full-width-input">
                    <mat-label>Pet</mat-label>
                    <input matInput type="number" formControlName="pet">
                    <mat-error *ngIf="formGroup.get('pet') 
                                   && formGroup.get('pet')?.invalid
                                   && formGroup.get('pet')?.touched">
                        O pet é obrigatório.
                    </mat-error>
                </mat-form-field>
                
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button 
                    color="primary" 
                    (click)="salvar()"
                    [disabled]="formGroup.invalid"> 
                Salvar 
            </button>
            <button mat-raised-button 
                    *ngIf="formGroup?.get('id')?.value"
                    color="warn" 
                    (click)="excluir()"
                    [disabled]="formGroup.invalid"> 
                Excluir 
            </button>
            <button mat-raised-button  
                    routerLink="/consultas"> 
                Cancelar 
            </button>
        </mat-card-actions>
    </mat-card>
</div>

